# ETL Pipeline

## Extract Data

In [1]:
# %pip install -q tweepy
# %pip install -q python-decouple

In [2]:
# import necessay packages
import pandas as pd
import tweepy as tw
# from decouple import config

In [3]:
# config
consumer_key = 'ALS2SK37YuglyLYSyGGpfrbmY'
consumer_secret = '2Vyr3pBaHDsNaVX9IslmRHq25xR4zJjQjHpjUFTZzXj74rkvwS'
access_token = '1521183878576230400-4DzxTK7h5tI1gQ1f4QwoEWqfn0FNuV'
access_token_secret = 'sft4cbN41jMtVneJLD794rYRGJraHbb9ug4YELbZHFSyV'
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAA6ScAEAAAAAnv1iKJAyg2INl1nA7%2BB0z%2FJbpK4%3DbrVth6B429DvCW0vsS4ufO6pLzmsAnhyYpaPRfWGoMWBKc6uRM'
user_id = '90676816'

In [4]:
# connect API
permission = tw.OAuthHandler(consumer_key, consumer_secret) # this object of ours will load the authorization request
permission.set_access_token(access_token, access_token_secret) # get ownership of our access object
client = tw.Client(bearer_token=bearer_token)
api = tw.API(permission) # use the API class, native to the library to generate the connection

In [17]:
query = 'Atletico-MG -filter:retweets OR Atl√©tico Mineiro -filter:retweets OR #Galo -filter:retweets OR #ClubeAtl√©ticoMineiro -filter:retweets'
galo_tweets = api.search_tweets(q=query, tweet_mode='extended', count=100)

id = []
created_at = []
full_text = []
favorite_count = []
retweet_count = []

for twitters in galo_tweets:
    id.append(twitters.id)
    created_at.append(twitters.created_at)
    full_text.append(twitters.full_text)
    favorite_count.append(twitters.favorite_count)
    retweet_count.append(twitters.retweet_count)

    # create dataframe
    df_final = {
      'tweet_id': id, 'created_at':created_at, 'text':full_text, 'likes':favorite_count, 
      'retweets':retweet_count
    }

In [18]:
search_tweets_df = pd.DataFrame(df_final)
search_tweets_df

,tweet_id,created_at,text,likes,retweets
0,1617174298552111105,2023-01-22 14:56:13+00:00,Hulk faz dois de p√™nalti e Atl√©tico-MG vence a...,0,0
1,1617123821353590785,2023-01-22 11:35:38+00:00,Atl√©tico-MG beats Caldense in the Mineiro Cham...,0,0
2,1617031264552505344,2023-01-22 05:27:51+00:00,"Com dois gols de Hulk, Atl√©tico-MG vence a Cal...",0,0
3,1617031254372929537,2023-01-22 05:27:48+00:00,V√çDEO: Assista aos gols da vit√≥ria do Atl√©tico...,0,0
4,1617031243220275201,2023-01-22 05:27:46+00:00,"Refor√ßo do Atl√©tico-MG, Patrick se coloca √† di...",0,0
...,...,...,...,...,...
95,1616569902290305029,2023-01-20 22:54:33+00:00,"Refor√ßo do Atl√©tico-MG, Patrick se coloca √† di...",4,1
96,1616567381865922562,2023-01-20 22:44:32+00:00,Atl√©tico-MG registra Patrick no BID e tem todo...,56,1
97,1616537371985543215,2023-01-20 20:45:17+00:00,S√°bado (21) √© dia de estaduais e jogo decisivo...,3,1
98,1616525697027309569,2023-01-20 19:58:54+00:00,@thiagorisantos @Clebeer_P @nell012201 @sctuli...,0,0
99,1616525614135009281,2023-01-20 19:58:34+00:00,"Atl√©tico-MG x Caldense: onde assistir, prov√°ve...",1,0

In [23]:
# empty lists are created that will store the data extracted from the API call
id = []
date = []
text = []
retweets = []
answers = []
likes = []
mentions = []

# API call script with loop and pagination
for tweet in tw.Paginator(
    client.get_users_tweets, id=user_id, exclude=['retweets', 'replies'], #start_time = '2023-01-01T00:00:00Z',
    tweet_fields=['id', 'text', 'created_at', 'public_metrics'], max_results=100).flatten(limit=3200):

    # inserting the results in the lists
    id.append(tweet['id'])
    date.append(tweet['created_at'])
    text.append(tweet['text'])
    retweets.append(tweet['public_metrics']['retweet_count'])
    answers.append(tweet['public_metrics']['reply_count'])
    likes.append(tweet['public_metrics']['like_count'])
    mentions.append(tweet['public_metrics']['quote_count'])

    # create dataframe
    results = {
      'tweet_id':id, 'date':date, 'text':text, 'likes':likes, 
      'retweets':retweets, 'answers':answers, 'mentions':mentions
    }

In [24]:
paginator_df = pd.DataFrame(results)
paginator_df

,tweet_id,date,text,likes,retweets,answers,mentions
0,1617185352334073856,2023-01-22 15:40:08+00:00,ü§î Voc√™s sabiam que o Allan j√° marcou um gol pe...,345,31,17,10
1,1617168108489244680,2023-01-22 14:31:37+00:00,Ontem o Allan completou 3 anos no Atl√©tico e h...,421,16,7,2
2,1617150018997075968,2023-01-22 13:19:44+00:00,"No dia em que completou tr√™s anos de #Galo, Al...",2333,135,61,24
3,1616979898114969600,2023-01-22 02:03:44+00:00,https://t.co/8MJnAxfHUh,663,22,3,1
4,1616979889424592898,2023-01-22 02:03:42+00:00,https://t.co/qUpaWOMfHF,695,23,3,2
...,...,...,...,...,...,...,...
820,1597647047871451136,2022-11-29 17:41:53+00:00,"ü§ôüèæüêî Feliz anivers√°rio, @fcbarcelona_br! A magi...",3319,338,49,36
821,1597638740490752000,2022-11-29 17:08:53+00:00,Seneùóöùóîùóüùó¢ classificada√ßo! üêîü§ùüá∏üá≥\n\n#FIFAWorldCup,1136,56,33,7
822,1597621258841370624,2022-11-29 15:59:25+00:00,#CoudetNoGalo üè¥üè≥Ô∏è,527,35,4,2
823,1597621255678545923,2022-11-29 15:59:24+00:00,Chacho foi conhecer o seu novo escrit√≥rio hoje...,4100,243,91,96
824,1597605790344675330,2022-11-29 14:57:57+00:00,üá≥üá±üêî Voc√™ disse Laranja Mec√¢nica em campo? ü§î \n...,1662,109,12,8

In [9]:
paginator_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  825 non-null    int64
 1   date      825 non-null    datetime64[ns, UTC]
 2   text      825 non-null    object
 3   likes     825 non-null    int64
 4   retweets  825 non-null    int64
 5   answers   825 non-null    int64
 6   mentions  825 non-null    int64
dtypes: datetime64[ns, UTC](1), int64(5), object(1)
memory usage: 45.2+ KB

In [10]:
paginator_df["tweet_id"] = paginator_df['tweet_id'].astype('str')

In [12]:
test = pd.read_parquet('test.parquet')
test

,tweet_id,date,text,likes,retweets,answers,mentions
0,1617168108489244680,2023-01-22 14:31:37+00:00,Ontem o Allan completou 3 anos no Atl√©tico e h...,205,8,7,0
1,1617150018997075968,2023-01-22 13:19:44+00:00,"No dia em que completou tr√™s anos de #Galo, Al...",1713,99,50,22
2,1616979898114969600,2023-01-22 02:03:44+00:00,https://t.co/8MJnAxfHUh,636,20,3,1
3,1616979889424592898,2023-01-22 02:03:42+00:00,https://t.co/qUpaWOMfHF,669,21,3,2
4,1616979880683487232,2023-01-22 02:03:40+00:00,Tarde de estreias no Horto. Que a nova caminha...,1387,72,17,2
...,...,...,...,...,...,...,...
820,1597638740490752000,2022-11-29 17:08:53+00:00,Seneùóöùóîùóüùó¢ classificada√ßo! üêîü§ùüá∏üá≥\n\n#FIFAWorldCup,1136,56,33,7
821,1597621258841370624,2022-11-29 15:59:25+00:00,#CoudetNoGalo üè¥üè≥Ô∏è,527,35,4,2
822,1597621255678545923,2022-11-29 15:59:24+00:00,Chacho foi conhecer o seu novo escrit√≥rio hoje...,4100,243,91,96
823,1597605790344675330,2022-11-29 14:57:57+00:00,üá≥üá±üêî Voc√™ disse Laranja Mec√¢nica em campo? ü§î \n...,1662,109,12,8
824,1597602531949117440,2022-11-29 14:45:00+00:00,Eduardo Coudet est√° em BH: https://t.co/tUwykL...,1931,137,24,14